{$INCLUDE("testheader.inc")}

{$L1}{$RIGHT(71)}{$L0}
1234567890123456789012345678901234567890123456789012345678901234567890
         1         2         3         4         5         6         7
                   2                   4                   6          
                             3                             6          
{$L1}{$RIGHT(71)}{$L0}
{$RIGHT(49)}* RIGHT 49  {$RIGHT(19)}* RIGHT 19
{$PUSHPOS}
{$LMARGIN(15)}
{$RBOXS}{$LMARGIN(15.1)}
Left margin set to 15.1
Some text
Some more text
                        {$RBOXE}
{$LMARGIN}
{$POPPOS}
Left margin reset to default.
This text was actually placed after the 
box margin text.
There is no RMARGIN command yet so 
right margins have to checked by hand.


{$RBOXS(1)}
 Motion tests:
 5
 4
 3
 2
 1
 0{$RIGHT(30)}(1)RIGHT30
 {$DOWN(3)}(2)DOWN 3 {$UP(3)}         (3)Up 3

 0{$RIGHT(10)}RIGHT10
  Font Tests
 {$FONTNAME("gothic.ttf")}{$SETCOLOR(0,0,0.42)}
 {$SF(20)}This is the gothic font {$SF(12)}
 {$SETCOLOR(0,0,0)}{$FONTNAME("courier")}
 {$FONTNAME("arialn.ttf")}{$SETCOLOR(0,0,0.42)}
 {$SF(11)}This is the arial narrow font 11 point{$SF(12)}
 {$SETCOLOR(0,0,0)}{$FONTNAME("courier")}
 {$FONTNAME("isabella.ttf")}{$SETCOLOR(0,0,0.42)}
 {$SF(12)}This is the isabella font{$SF(12)}
{$FONTNAME("courier")}{$SF(12)}
{$RIGHT(70)}{$RBOXE(1)}







{$PUSHPOS}
{$MA(x=19)}19cm >|
{$MA(x=20)}*
{$MA(y=10.5)}*10.5 cm from top.
{$POPPOS}
